<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="member">
  	<select id="selectlist" resultType="com.kb.jw.member.MemBerDTO">
  		select*from member
  	</select>
  	<insert id="insertrow" parameterType="com.kb.jw.member.MemBerDTO">
  		insert into member
  		(id,pwd,name,gender,email,rgdate)
  		values
  		(#{id}, #{pwd}, #{name}, #{gender}, #{email}, now())  	
  	</insert>
  	<select id="selectrow" resultType="com.kb.jw.member.MemBerDTO"
  						parameterType="com.kb.jw.member.MemBerDTO">
  			select*from member where midx=#{midx}
  	
  	</select>
  	<update id="updaterow" parameterType="com.kb.jw.member.MemBerDTO">
  		update member
  		set id=#{id}, pwd=#{pwd}, name=#{name},
  			gender=#{gender}, email=#{email}, rgdate=now()
  		where midx=#{midx}  	
  	</update>
  	<delete id="deleterow" parameterType="java.lang.String">
  		delete from member
  		<where>
  			find_in_set(midx,#{midxss})
  		</where>
  	
  	</delete>
  </mapper>